PORT=8000
DATABASE_NAME=example_master
DATABASE_USERNAME=username
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=3306

TENANTS_DATA_PATH="/home/username/tenant_data"
JWT_SECRET="f31b61a3695fed5aa1a5795fc870371ef621aa9fe59dd62d600ee6c8e6ee5531"
ENCRYPTION_KEY="02baa8a393c60310b93bf61b7c7c2d94a3ea93be757ea6bfac7e9d059d596f49"